@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Mukta&display=swap');

#logoAndName {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-img {
    width: 128px;
    height: 128px;
    padding-right: 30px;
    float: left;
    margin-right: 10px;
}

.logo-text {
    align-self: flex-end;
    font-family: 'Gabarito', cursive;
    font-size: 4em;
    font-weight: bold;
}

#navigation {
    background-color: #DB0A13;
    width: 100%;
    margin-top: 10px;
    padding: 0;
    height: 65px;
    text-align: center;
}

#navigation > ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#navigation  li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:10px;
    margin-right:10px;
    padding:0;
}

#navigation a {
    font-size: 1.5em;
    color: #FFF; 
    text-decoration: none;
    font-family: 'Gabarito', cursive;
    padding: 0;
    line-height: 65px;
}

#navigation a:hover {
    text-decoration: underline;
}

#navigation li.active a {
    text-decoration: underline;
}


/* Add the following margin for the navigation to be 10px under the logo and picture */


footer {
    background-color: #DB0A13;
    height: 50px;
    width: 100%;
    padding: 0;
    color: #fff;
    font-family: 'Gabarito', cursive;
    font-size: 20px;
    position: absolute;
    bottom: 0; /* Stick the footer to the bottom */
    left: 0;
    right: 0;
    text-align: center;
    line-height: 50px;
    font-size: 1.25em;
}
